<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link th:href="@{/styles/standardStyles.css}" rel="stylesheet">
    <link th:href="@{/styles/adminStyle.css}" rel="stylesheet">
</head>
<body>
<section class="header">
    <h1>Christiansø Tour - AdminPage</h1>
</section>
<section class="admin-boxes">
    <section class="box">
        <h2>Attractions</h2>
        <div class="attraction-form"></div>
        <div class="attraction-list"></div>
    </section>
    <section class="box">
        <h2>Routes</h2>
        <div class="route-form"></div>
        <div class="route-list"></div>
    </section>
    <section class="box">
        <h2>Activities</h2>
        <div class="route-form"></div>
        <div class="route-list"></div>
    </section>
</section>
</body>
</html>