<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--- Leaflet css med styling til kortet. --->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
            src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="">
    </script>
    <script src="../javascript/christiansoe.js" defer></script>

    <link th:href="@{/styles/standardStyles.css}" rel="stylesheet">
</head>
<body>
<section class="header">
    <h1>Christiansø Tour</h1>
</section>
<section class="top-container">
    <section class="left-box">
        <section class="input-field">
            <form>
                <label for="interests">Choose an interest:</label>
                <select id="interests" name="interests">
                    <option value="Nature">Nature</option>
                    <option value="History">History</option>
                    <option value="Animals">Animals</option>
                </select>
                <label for="depature"></label>
                <input id="depature" name="depature" type="time">
                <button id="get-specific-route">Get route</button>
            </form>
        </section>
        <section class="rute-info-box">
            <div class="route-info">Denne rute er glimrende for...</div>
            <section class="timer">Afstand til skibet:
                <div id="distance"></div>
            </section>
            <section class="timer">Tid til afgang:
                <button id="startButton">Start timer</button>
                <div id="timer"></div>
            </section>
        </section>
    </section>
    <section class="map" id="map"></section>
</section>
<section class="bottom-container"></section>
<section class="footer">
    <small></small>
</section>
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <h5 id="modal-title"></h5>
        <div class="table-holding-rows" style="height: 400px; overflow-y: scroll; ">
            <table class="table">
                <thead class="table-head" id="table-head">
                </thead>
                <tbody id = "attraction-table-body">
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button id="btn-close" type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>
<!-- Modal end -->
</body>
</html>