<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/standardStyles.css}" rel="stylesheet">
</head>
<body>
    <section class="header">
        <h1>Christiansø Tour</h1>
    </section>
    <section class="top-container">
        <section class="left-box">
            <section class="input-field"></section>
            <section class="rute-information"></section>
        </section>
        <section class="map"></section>
    </section>
    <section class="bottom-container"></section>
    <section class="footer">
        <small></small>
    </section>
</body>
</html>