.admin-boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box{
    border-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: start;
    background: white;
    width: 32%;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button{
    align-self: center;
}

h2{
    font-family: "Malgun Gothic Semilight";
    font-size: 45px;
    color: black;
    opacity: 90%;
    text-align: center;
    justify-content: center;
}