.admin-boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: start;
    background: white;
    margin-bottom: 20px;
}

th{
    font-size: 18px;
}


tr{
    border: solid black 2px;
}
td {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 12.5%;
    font-family: "Malgun Gothic";
    font-size: 14px;
    overflow: hidden;
}

.centerButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button{
    align-self: center;
}

h2{
    font-family: "Malgun Gothic Semilight";
    font-size: 45px;
    color: black;
    opacity: 90%;
    text-align: center;
    justify-content: center;
}